// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0px;
}

div.providers_list_left {
  float: left;
  width: 120px;
}

div.providers_list_right {
  float: left;
  width: 800px;
  margin: 0px;
  padding: 0px;
}

div.clear {
  clear: both;
}

div.photo_box {
  border: 2px solid black;
  background-color: grey;
  width: 100px;
  height: 100px;
}

img.profile_photo {
  border: 1px solid black;
  margin: 10px;
}