// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map_container {

   border: 2px solid rgb(201, 201, 201);
    margin-bottom: 10px;
    margin-top: 10px;
    padding:0px;
     border-radius:5px;
     height:220px;

  padding: 6px;
/*  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 800px;
*/

}

.gmaps4rails_map {
  height: 220px;
  border-radius:5px;


/*   width: 800px;
  height: 400px;
*/

}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 1000px;
   height: 1000px;
   border:#555555 2px solid;
}


.bigmap  {
   border: 2px solid rgb(201, 201, 201);
    margin-bottom: 10px;
    margin-top: 10px;
    padding:0px;
     border-radius:5px;
    width: 850px;
   height: 450px;
}
.bigmap2
{
	width: 850px;
  height: 450px;
	
}
.page-label {
  font-weight:bolder;
}
.page-hr hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.page-thin-hr hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #999; /* old IE */
    background-color: #999; /* Modern Browsers */
}
.invalid-task {
  color:red;
}
.valid-task {
  
}
.page-pagination {
  font-size:1.15em;
}
.page-pagination span {
    padding-right:4px;
}